/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    box-sizing: border-box;
    font-family: 'Red Hat Display';
}
body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
        }

.container {
    background-color: white;  
    width: 20rem;
    height: 33rem;
    border-radius: 1.2rem;
     }

.banner {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
}

h1 {
   color: hsl(223, 47%, 23%); 
   text-align: center;
   font-weight: 900;
   font-size: 1.25rem;
   margin-bottom: 10px;
}

p{
     font-size: 0.98rem;  
    color: hsl(224, 23%, 55%);
    text-align: center;
    line-height: 1.4rem;
 margin: 0px 30px;
}

.plan{ 
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 15px;
       }

.annualPlan{
    color: hsl(223, 47%, 23%); 
    font-weight: 900;
    font-size: 0.9rem;
    padding-bottom: 8px;
}

.price {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    font-size: 0.9rem;
}

.change {
font-weight: 700;
font-size: 0.8rem;

}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
            }

.paymentButton{
    border-radius: 0.6rem;
    border:none;
    color:hsl(225, 100%, 98%);
    background-color: hsl(245, 75%, 52%);
    font-size: 0.95rem;
    margin-top: 0.8rem;
    padding: 0.8rem 3.5rem;
    font-family: inherit;
    font-weight: 700;
    box-shadow: 1px 20px 20px hsl(225, 100%, 94%);
    
}
.paymentButton:hover{
    background-color: hsl(245, 79%, 63%);
    cursor: pointer;
    transition-duration: 200ms;
    transition-property: background-color;
}


.cancel {
   display: flex;
    text-decoration: none;
    justify-content: center;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    font-size: 0.95rem;
    margin-top: 1.6rem;
      }
